// ---------Colors------------
$main-bg-color:#fafafe;
// $main-bg-color:#fff;

// $main-bg-color;
$White:#fff;
$black:#000; // btns, Headings, paragraphs
$purple:#7360b5;// btns
$medium-purple:#9382d2;
$light-grey:#c1c1d4;
$grey:#9c9ca4; //paragraphs
$dark-grey:#666;
$primary-color:#eaeaf2; // header bg, brand names
$light-blue:#eaeaf2;//----products section (1)
$light-purple:#eeebf6;//----products section (2)
$light-pink:#f5eaf0; //----products section (3)
$orange:#f1af34; //stars

// ---------End Of colors--------

// ---------Grid-------------------
$grid-width:128rem;

// ---------End of Grid-------------