@font-face {
    font-family: "larken";
    src: url('Larken/Larken Black.ttf') ;
    font-weight: bolder;
}
@font-face {
    font-family: "larken";
    src: url('Larken/Larken Bold.ttf') ;
    font-weight: bold;
}
@font-face {
    font-family: "larken";
    src: url('Larken/Larken Medium.ttf') ;
    font-weight: lighter;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: $main-bg-color;
}
html{
    font-size: 62.5%;
}