.benefits-section{
    padding: 7rem 0;
}
.category-section{
    padding: 7rem 0;
}
.products-section{
    padding: 7rem 0 10rem 0;
    overflow: hidden;
}
.compare-section{
    padding: 5rem 0;
}
.testimonial-section{
    padding: 7rem 0 5rem 0;
    position: relative;
}
.cta-section{
    padding: 10rem 0 ;
}
.query-section{
    padding: 20rem 0;
}
.second-cta-section{
    padding: 7rem 0;
}
.footer-section{
    padding: 7rem 0;
}